

<!--@subject Your quote was received @-->

{Error in template processing}
<table style="float:left; margin-right: 10px" class="fue-abc-items">
    <tr>
        <td>
            <div>
                Hi!</br></br>

                Thanks for reaching us, your quote was received and will be processed in the nearest time.</br>
                Our manager will reach you during 48 hours.</br></br>

                Thanks
            </div>
        </td>
    </tr>
    <tr>
</table>
{Error in template processing}